body {
    background-color: #f0f8ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333333;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #4a90e2;
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
}

body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/009/805/911/large_2x/milky-way-galaxy-with-stars-and-space-dust-in-the-universe-free-photo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}        
